@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap");
* {
  box-sizing: border-box;
  text-wrap: wrap;
}

html {
  font-size: 16px;
  font-family: "Roboto Condensed";
}

html,
body {
  margin: 0;
  white-space: nowrap;
  max-width: 100%;
  scrollbar-gutter: stable;
}

section {
  padding: 5em 0;
  padding: 7em 0;
}

input,
textarea {
  resize: none;
  padding: 0.5em 1em;
  font-family: "Roboto Condensed";
  font-size: 1rem;
  background-color: hsl(45, 23%, 90%);
  border: none;
  transition: 0.3s;
}
input:hover, input:active, input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  background-color: hsl(45, 23%, 100%);
  border: none;
  box-shadow: none;
  outline: none;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox label {
  color: hsl(45, 23%, 75%);
}
.checkbox input {
  display: inline-block;
  vertical-align: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
form .submit {
  width: 100% !important;
}

.container {
  width: 100%;
  padding: 0 5em;
}

strong {
  color: hsl(348, 100%, 34%);
}

hr {
  color: hsl(45, 23%, 90%);
  border: 2.5px solid hsl(45, 23%, 90%);
}

a {
  color: hsl(45, 23%, 75%);
  transition: 0.3s;
}

button.btn {
  color: hsl(0, 0%, 9%);
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 0;
  border: none;
  background-color: transparent;
}
button.btn span {
  z-index: 2;
}
button.btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(45, 23%, 90%);
}
button.btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  transform: scaleX(0);
  height: 100%;
  background-color: hsl(45, 23%, 100%);
  transition: 0.3s;
}
button.btn:hover::after, button.btn:active::after {
  transform: scaleX(1);
}
button.btn.btn-accent {
  color: hsl(45, 23%, 90%);
}
button.btn.btn-accent::before {
  background-color: hsl(348, 100%, 34%);
}
button.btn.btn-accent::after {
  background-color: hsl(348, 100%, 49%);
}

a.btn:link, a.btn:visited {
  color: hsl(0, 0%, 9%);
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
a.btn:link::before, a.btn:visited::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(45, 23%, 90%);
  z-index: -1;
}
a.btn:link::after, a.btn:visited::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  transform: scaleX(0);
  height: 100%;
  background-color: hsl(45, 23%, 100%);
  z-index: -1;
  transition: 0.3s;
}
a.btn:link.btn-accent, a.btn:visited.btn-accent {
  color: hsl(45, 23%, 90%);
}
a.btn:link.btn-accent::before, a.btn:visited.btn-accent::before {
  background-color: hsl(348, 100%, 34%);
}
a.btn:link.btn-accent::after, a.btn:visited.btn-accent::after {
  background-color: hsl(348, 100%, 49%);
}
a.btn:hover::after, a.btn:active::after {
  transform: scaleX(1);
}

.fx-shadow {
  --fx-shadow-color: hsl(45, 23%, 75%);
  box-shadow: 0 5px 0 0 var(--fx-shadow-color);
}
.fx-shadow[fx-shadow-direction=right] {
  box-shadow: 5px 5px 0 0 var(--fx-shadow-color);
}
.fx-shadow[fx-shadow-direction=left] {
  box-shadow: -5px 5px 0 0 var(--fx-shadow-color);
}
.fx-shadow.fx-shadow-accent {
  --fx-shadow-color: hsl(348, 100%, 19%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  margin: 0;
  font-weight: 700;
}

strong {
  font-weight: inherit;
}

h1 {
  font-size: 7.9927541887rem;
  font-family: "Squada One";
}

h2 {
  font-size: 5.6525842918rem;
  font-family: "Squada One";
}

h3 {
  font-size: 3.9975843648rem;
  font-family: "Squada One";
}

h4 {
  font-size: 2.827145944rem;
  font-family: "Jockey One";
}

h5 {
  font-size: 1.999396rem;
  font-family: "Jockey One";
}

h6 {
  font-size: 1.414rem;
  font-family: "Jockey One";
}

p {
  font-size: 1rem;
  font-family: "Roboto Condensed";
}

small {
  font-size: 0.8409599149rem;
  font-family: "Roboto Condensed";
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 0 5em;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    padding: 0 7em;
  }
}
@media only screen and (min-width: 1672px) {
  .container {
    padding: 0 10em;
  }
}
@keyframes hero__marquee {
  to {
    transform: translateX(calc(-100% - 1em));
  }
}
@keyframes open__center {
  to {
    transform: translate(var(--x-axis), var(--y-axis));
  }
}
@keyframes pan__in {
  from {
    opacity: 0;
    transform: translate(var(--x-start), var(--y-start));
  }
  to {
    opacity: 1;
    transform: translate(var(--x-end), var(--y-end));
  }
}
@keyframes blur {
  to {
    filter: blur(var(--blur));
  }
}
body {
  background-color: hsl(0, 0%, 9%);
  color: hsl(45, 23%, 90%);
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

section.hero {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  padding: 0;
  position: relative;
  background-image: url("../assets/media/hero-bg.png");
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: hsl(0, 0%, 24%);
  overflow-y: hidden;
}
section.hero::before {
  content: "";
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
}
section.hero .container {
  height: 100%;
  z-index: 2;
  display: flex;
}
section.hero .hero__img {
  background-image: url(../assets/media/hero-img.png);
  background-size: cover;
  background-position: top;
  width: 50%;
  height: 100%;
  margin-top: 2em;
}
section.hero .hero__content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
section.hero .hero__content .heading .brand {
  line-height: 1.999396rem;
  text-transform: uppercase;
  color: hsl(45, 23%, 75%);
}
section.hero .hero__content .heading .catch-phrase {
  line-height: 5.9927541887rem;
  text-transform: uppercase;
}
section.hero .hero__content .details {
  width: 65%;
}
section.hero .hero__content .details .call-to-action {
  margin-top: 2em;
  display: flex;
  gap: 2em;
}
section.hero .hero__content .details .call-to-action a {
  gap: 0.5em;
}

section.about .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.about .about__img {
  width: 45%;
  aspect-ratio: 4/3;
  background-image: url(../assets/media/about-img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid hsl(45, 23%, 90%);
  box-shadow: -15px 15px 0 0 hsl(45, 23%, 75%);
}
section.about .about__content {
  width: 32.5%;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 2em;
}
section.about .about__content a {
  gap: 0.5em;
}

section.timeline .container {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
section.timeline a {
  gap: 0.5em;
}
section.timeline .timeline__content {
  text-align: center;
  display: flex;
  justify-content: center;
}
section.timeline .timeline__content .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 65%;
}
section.timeline .timeline__timeline {
  --event-width: 50ch;
  display: flex;
  mask-image: linear-gradient(90deg, hsl(0, 0%, 9%) 75%, rgba(23, 23, 23, 0.2) 94%, transparent 100%);
  overflow-x: hidden;
}
section.timeline .timeline__timeline > * {
  flex-shrink: 0;
}
section.timeline .timeline__timeline:hover .banner,
section.timeline .timeline__timeline:hover .details, section.timeline .timeline__timeline:active .banner,
section.timeline .timeline__timeline:active .details {
  filter: blur(5px);
}
section.timeline .timeline__timeline .event {
  width: var(--event-width);
  transition: 0.3s;
}
section.timeline .timeline__timeline .event:hover .banner,
section.timeline .timeline__timeline .event:hover .details {
  filter: blur(0);
}
section.timeline .timeline__timeline .event:hover .banner .description {
  transform: scale(1);
}
section.timeline .timeline__timeline .details,
section.timeline .timeline__timeline .banner {
  transition: 0.3s;
}
section.timeline .timeline__timeline .details {
  text-align: center;
  width: var(--event-width);
  padding: 0 1em;
  margin: 0 auto;
}
section.timeline .timeline__timeline .line {
  margin: 2em 0;
  width: 100%;
  height: 0.25em;
  background-color: hsl(45, 23%, 90%);
  position: relative;
}
section.timeline .timeline__timeline .line span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25em 2.5em;
  background-color: hsl(45, 23%, 90%);
  color: hsl(0, 0%, 9%);
  text-transform: uppercase;
}
section.timeline .timeline__timeline .banner {
  background-image: url(../assets/media/achievements-banner.jpg);
  background-position: center;
  background-size: cover;
  width: calc(100% - 2em);
  aspect-ratio: 4/3;
  border: 5px solid hsl(45, 23%, 90%);
  margin: 0 1em;
  display: flex;
  align-items: end;
}
section.timeline .timeline__timeline .banner .description {
  width: 100%;
  height: 50%;
  background-color: hsl(45, 23%, 90%);
  color: hsl(0, 0%, 9%);
  transition: 0.3s;
  transform: scaleY(0);
  transform-origin: bottom;
  text-align: center;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
section.timeline .timeline__timeline .banner .description a {
  color: hsl(0, 0%, 24%);
}

section.instructors {
  --card-width: 50ch;
}
section.instructors .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25ch;
}
section.instructors .container .instructors__content .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section.instructors .container .instructors__cards {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: max-content;
}
section.instructors .container .instructors__cards:hover .card .wrapper {
  filter: blur(5px);
  background-color: hsl(45, 23%, 75%);
}
section.instructors .container .instructors__cards .card .wrapper {
  background-color: hsl(45, 23%, 90%);
  color: hsl(0, 0%, 9%);
  width: var(--card-width);
  padding: 0.5em;
  transition: 0.3s;
}
section.instructors .container .instructors__cards .card .wrapper:hover, section.instructors .container .instructors__cards .card .wrapper:active {
  filter: blur(0);
  transform: translateY(-7.5%);
  background-color: hsl(45, 23%, 90%);
}
section.instructors .container .instructors__cards .card .wrapper .banner {
  background-image: url(attr(banner_img));
  background-size: cover;
  background-position: bottom;
  width: 100%;
  aspect-ratio: 3/3;
  position: relative;
}
section.instructors .container .instructors__cards .card .wrapper .banner.card__chief {
  background-color: hsl(0, 0%, 24%);
  background-blend-mode: overlay;
}
section.instructors .container .instructors__cards .card .wrapper .banner img {
  position: absolute;
  bottom: 5%;
  width: 100%;
  aspect-ratio: 3/4;
  filter: drop-shadow(0px 20px 10px hsl(0, 0%, 9%));
}
section.instructors .container .instructors__cards .card .wrapper .details {
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
section.instructors .container .instructors__cards .card .wrapper .details .name h6 {
  color: hsl(0, 0%, 24%);
}
section.instructors .container .instructors__cards .card .wrapper .details .name h6 strong {
  color: hsl(348, 100%, 49%);
}
section.instructors .container .instructors__cards .card .wrapper .details .name h6 p {
  color: hsl(0, 0%, 24%);
  letter-spacing: 0.25em;
}
section.instructors .container .instructors__cards .card .wrapper .details .description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
section.instructors .container .instructors__cards .card .wrapper .details .description a {
  color: hsl(0, 0%, 24%);
}
section.instructors .container .instructors__cards .card .wrapper .details .description a:hover {
  color: hsl(0, 0%, 9%);
}
section.instructors .container .instructors__cards .card .wrapper .links {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 1.414rem;
}
section.instructors .container .instructors__cards .card .wrapper .links a i {
  transition: 0.3s;
  color: hsl(0, 0%, 24%);
}
section.instructors .container .instructors__cards .card .wrapper .links a:hover i, section.instructors .container .instructors__cards .card .wrapper .links a:active i {
  color: hsl(0, 0%, 9%);
}

section.contact {
  background-image: url("../assets/media/contact-bg.jpg");
  background-position: center;
  background-size: cover;
  background-color: hsl(0, 0%, 24%);
  background-blend-mode: multiply;
}
section.contact .container {
  display: flex;
  gap: 8em;
}
section.contact .container > div {
  width: 50%;
}
section.contact .container .contact__form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
section.contact .container .contact__form .form__details {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
section.contact .container .contact__form .form__details .contact__links {
  display: flex;
  align-items: center;
  font-size: 1.414rem;
  gap: 1em;
}
section.contact .container .contact__map iframe {
  width: 100%;
  height: 100%;
  box-shadow: 15px 15px 0 0 hsl(45, 23%, 75%);
  border: 5px solid hsl(45, 23%, 75%);
}

/*# sourceMappingURL=main.css.map */
