@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap");

@import "variables.scss";
@import "reset.scss";
@import "mixins.scss";
@import "media.scss";
@import "anims.scss";

body {
    background-color: $primary;
    color: $secondary;
}

section.hero {
    display: flex;
    width: 100%;
    height: 100vh;

    position: relative;

    background-image: url("../assets/media/hero-bg.png");
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;

    background-color: $primary-tint;

    overflow-y: hidden;

    &::before {
        content: '';
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;

        backdrop-filter: blur(10px);
        z-index: 1;
    }

    .container {
        height: 100%;
        z-index: 2;

        display: flex;
    }

    .hero__img {
        background-image: url(../assets/media/hero-img.png);
        background-size: cover;
        background-position: top;
        width: 50%;
        height: 100%;

        margin-top: $gap-m;
    }

    .hero__content {
        height: 100%;
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $gap-m;

        .heading {
            .brand {
                line-height: $h5;
                text-transform: uppercase;
                color: $secondary-shade;
            }

            .catch-phrase {
                line-height: $lh-h1;
                text-transform: uppercase;
            }
        }

        .details {
            width: 65%;

            .call-to-action {
                margin-top: $gap-m;
                display: flex;
                gap: $gap-m;

                a {
                    gap: $gap-xs;
                }
            }
        }
    }
}

section.about {
    height: 75vh;

    .container {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__img {
        width: 50%;
        height: 100%;

        position: relative;
        // align-content: center;

        display: flex;
        align-items: center;

        .wrapper {
            display: flex;
            flex-wrap: nowrap;
            height: max-content;

            transform: translateY(-45%)
        }

        img {
            width: 75%;
            aspect-ratio: 4/3;

            &:nth-child(2) {
                transform: translate(-45%, 65%);
            }
        }
    }

    .about__content {
        width: 50%;
        height: 100%;

        text-align: right;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: $gap-m;

        p {
            width: 65%;
        }

        a {
            gap: $gap-xs;
        }
    }
}