@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap");

@import "variables.scss";
@import "reset.scss";
@import "mixins.scss";
@import "media.scss";
@import "anims.scss";

body {
    background-color: $primary;
    color: $secondary;
    width: 100%;
    height: 100%;
}

main {
    width: 100vw;
    height: 100%;
}

section.hero {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    padding: 0;
    position: relative;
    background-image: url("../assets/media/hero-bg.png");
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: $primary-tint;
    overflow-y: hidden;

    &::before {
        content: '';
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur($blur-m);
        z-index: 1;
    }

    .container {
        height: 100%;
        z-index: 2;
        display: flex;
    }

    .hero__img {
        background-image: url(../assets/media/hero-img.png);
        background-size: cover;
        background-position: top;
        width: 50%;
        height: 100%;
        margin-top: $gap-m;
    }

    .hero__content {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $gap-m;

        .heading {
            .brand {
                line-height: $h5;
                text-transform: uppercase;
                color: $secondary-shade;
            }

            .catch-phrase {
                line-height: $lh-h1;
                text-transform: uppercase;
            }
        }

        .details {
            width: 65%;

            .call-to-action {
                margin-top: $gap-m;
                display: flex;
                gap: $gap-m;

                a {
                    gap: $gap-xs;
                }
            }
        }
    }
}

section.about {
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about__img {
        width: 45%;
        aspect-ratio: 4/3;
        background-image: url(../assets/media/about-img1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid $secondary;
        box-shadow: $shadow-left-shade-m;
    }

    .about__content {
        width: calc(calc(calc(0.65 * 0.50) * 100) * 1%);
        height: 100%;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: $gap-m;

        a {
            gap: $gap-xs;
        }
    }
}

section.timeline {
    .container {
        display: flex;
        flex-direction: column;
        gap: $gap-l;
    }

    a {
        gap: $gap-xs;
    }

    .timeline__content {
        text-align: center;
        display: flex;
        justify-content: center;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gap-s;
            width: 65%;
        }
    }

    .timeline__timeline {
        --event-width: 50ch;
        display: flex;
        mask-image: linear-gradient(90deg, $primary 75%, rgba($primary, 0.2) 94%, transparent 100%);
        overflow-x: hidden;

        &>* {
            flex-shrink: 0;
        }

        &:hover {
            .event {

                .details,
                .banner {
                    filter: blur($blur-s);
                }
            }
        }

        .event {
            width: var(--event-width);
            transition: $time-f;

            &:hover {
                width: calc(var(--event-width) * 1.5);

                .details,
                .banner {
                    filter: blur(0);
                }
            }
        }

        .details,
        .banner {
            transition: $time-f;
        }

        .details {
            text-align: center;
            width: var(--event-width);
            padding: 0 $pad-m;
            margin: 0 auto;

            p {
                display: none;
            }
        }

        .line {
            margin: $gap-m 0;
            width: 100%;
            height: 0.25em;
            background-color: $secondary;
            position: relative;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: $pad-xs $pad-l;
                background-color: $secondary;
                color: $primary;
                text-transform: uppercase;
            }
        }

        .banner {
            background-image: url(../assets/media/achievements-banner.jpg);
            background-position: center;
            background-size: cover;
            width: calc(100% - calc($pad-m * 2));
            aspect-ratio: 4/3;
            border: $border-m;
            margin: 0 $pad-m;
        }

    }
}

section.instructors {
    --card-width: 50ch;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 25ch;

        .instructors__content {
            .wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: $gap-s;
            }
        }

        .instructors__cards {

            display: flex;
            justify-content: center;
            gap: $gap-m;

            width: max-content;

            &:hover {
                .card .wrapper {
                    filter: blur($blur-s);
                    background-color: $secondary-shade;
                }
            }

            .card {

                .wrapper {
                    background-color: $secondary;
                    color: $primary;

                    width: var(--card-width);

                    padding: $pad-s;

                    transition: $time-f;

                    &:hover,
                    &:active {
                        filter: blur(0);
                        transform: translateY(-7.5%);
                        background-color: $secondary;
                    }

                    .banner {
                        // background-image: url(../assets/media/instructors/alrey-bg.png);
                        background-image: $bg-img;
                        background-size: cover;
                        background-position: bottom;
                        width: 100%;
                        aspect-ratio: 3/3;

                        position: relative;

                        &.card__chief {
                            background-color: $primary-tint;
                            background-blend-mode: overlay;
                        }

                        img {
                            position: absolute;
                            bottom: 5%;

                            width: 100%;
                            aspect-ratio: 3/4;

                            filter: drop-shadow(0px 20px 10px $primary);
                        }
                    }

                    .details {
                        padding: $pad-m;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        gap: $gap-s;

                        .name {
                            h6 {
                                color: $primary-tint;

                                strong {
                                    color: $accent-tint;
                                }


                                p {
                                    color: $primary-tint;
                                    letter-spacing: $lspace-m;
                                }
                            }
                        }

                        .description {
                            display: flex;
                            flex-direction: column;
                            gap: $gap-xs;

                            a {
                                color: $primary-tint;

                                &:hover {
                                    color: $primary;
                                }
                            }
                        }
                    }

                    .links {
                        display: flex;
                        justify-content: center;

                        gap: $gap-s;

                        font-size: $h6;

                        a {
                            i {
                                transition: $time-f;
                                color: $primary-tint;
                            }

                            &:hover,
                            &:active {
                                i {
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

section.credentials {
    position: relative;

    .container {
        display: flex;
        gap: $gap-m;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        &>div {
            width: 50%;
        }

        .credentials__content {
            display: flex;
            flex-direction: column;
            gap: $gap-m;

            p {
                width: 65%;
            }
        }

        .credentials__asai {
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: $gap-m;

            div {
                background-color: $secondary;
                color: $primary;

                width: 65%;
                padding: $pad-m;

                box-shadow: $shadow-right-shade-m;
            }

            .asai__brand {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: $gap-m;

                text-align: left;

                img {
                    width: 15ch;
                    aspect-ratio: 1/1;
                }
            }
        }
    }
}