* {
    box-sizing: border-box;
    text-wrap: wrap;
}

html {
    // font-size: calc(calc(1vmax * 2) / 1vmax);
    font-size: 16px;
    font-family: $paragraph;
}

html,
body {
    margin: 0;
    white-space: nowrap;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
}

section {
    padding: $space-s 0;
    height: 100vh;
}

.container {
    width: 100%;
    padding: 0 $space-s;
}

strong {
    color: $accent;
}

hr {
    color: $secondary;
    border: $border-s;
}

a {
    color: $secondary-shade;
}

a.btn {

    &:link,
    &:visited {
        color: $primary;
        text-decoration: none;

        text-transform: uppercase;

        width: 50%;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: $pad-s;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $secondary;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            transform: scaleX(0);
            height: 100%;
            background-color: $secondary-tint;

            z-index: -1;

            transition: $time-f;
        }

        &.btn-accent {
            color: $secondary;

            &::before {
                background-color: $accent;
            }

            &::after {
                background-color: $accent-tint;
            }
        }
    }

    &:hover,
    &:active {
        &::after {
            transform: scaleX(1);
        }
    }

}

.fx-shadow {
    --fx-shadow-color: #{$secondary-shade};
    box-shadow: 0 5px 0 0 var(--fx-shadow-color);

    &[fx-shadow-direction="right"] {
        box-shadow: 5px 5px 0 0 var(--fx-shadow-color);
    }

    &[fx-shadow-direction="left"] {
        box-shadow: -5px 5px 0 0 var(--fx-shadow-color);
    }

    &.fx-shadow-accent {
        --fx-shadow-color: #{$accent-shade};
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
    margin: 0;
}

h1 {
    font-size: $h1;
    font-family: $heading;
}

h2 {
    font-size: $h2;
    font-family: $heading;
}

h3 {
    font-size: $h3;
    font-family: $heading;
}

h4 {
    font-size: $h4;
    font-family: $subheading;
}

h5 {
    font-size: $h5;
    font-family: $subheading;
}

h6 {
    font-size: $h6;
    font-family: $subheading;
}

p {
    font-size: $p;
    font-family: $paragraph;
}

small {
    font-size: $small;
    font-family: $paragraph;
}