// COLORS
$primary: hsl(0, 0%, 9%);
$primary-tint: hsl(0, 0%, 24%);
$primary-shade: hsl(0, 0%, 0%);

$secondary: hsl(45, 23%, 90%);
$secondary-tint: hsl(45, 23%, 100%);
$secondary-shade: hsl(45, 23%, 75%);

$accent: hsl(348, 100%, 34%);
$accent-tint: hsl(348, 100%, 49%);
$accent-shade: hsl(348, 100%, 19%);

// TYPOGRAPHY
$heading: "Squada One";
$subheading: "Jockey One";
$paragraph: "Roboto Condensed";

$fs-ratio: 1.414;

$h1: pow($fs-ratio, 6) * 1rem;
$h2: pow($fs-ratio, 5) * 1rem;
$h3: pow($fs-ratio, 4) * 1rem;
$h4: pow($fs-ratio, 3) * 1rem;
$h5: pow($fs-ratio, 2) * 1rem;
$h6: pow($fs-ratio, 1) * 1rem;
$p: 1rem;
$small: pow($fs-ratio, -1) rem;

$lh-h1: $h1 - 2rem;

$lspace-s: 0.05em;
$lspace-m: 0.25em;
$lspace-l: 0.75em;
$lspace-xl: 1em;

// SPACING

$gap-xs: 0.5em;
$gap-s: 1em;
$gap-m: 2em;
$gap-l: 4em;
$gap-xl: 8em;

$pad-xs: 0.25em;
$pad-s: 0.5em;
$pad-m: 1em;
$pad-l: 2.5em;
$pad-xl: 5em;

$space-s: 5em;
$space-m: 7em;
$space-l: 10em;
$space-xl: 15em;

// TIMING
$time-f: 0.3s;
$time-mf: 0.5s;
$time-ms: 1s;
$time-s: 1.5s;

// PROPERTIES
// border
$border-s: 2.5px solid $secondary;
$border-m: 5px solid $secondary;
$border-l: 10px solid $secondary;

$border-shade-s: 2.5px solid $secondary-shade;
$border-shade-m: 5px solid $secondary-shade;
$border-shade-l: 10px solid $secondary-shade;

$border-accent-s: 2.5px solid $accent;
$border-accent-m: 5px solid $accent;
$border-accent-l: 10px solid $accent;

$border-accent-shade-s: 2.5px solid $accent-shade;
$border-accent-shade-m: 5px solid $accent-shade;
$border-accent-shade-l: 10px solid $accent-shade;

// shadow
$shadow-left-s: -10px 10px 0 0 $secondary;
$shadow-left-m: -15px 15px 0 0 $secondary;
$shadow-left-l: -20px 20px 0 0 $secondary;

$shadow-left-shade-s: -10px 10px 0 0 $secondary-shade;
$shadow-left-shade-m: -15px 15px 0 0 $secondary-shade;
$shadow-left-shade-l: -20px 20px 0 0 $secondary-shade;

$shadow-right-s: 10px 10px 0 0 $secondary;
$shadow-right-m: 15px 15px 0 0 $secondary;
$shadow-right-l: 20px 20px 0 0 $secondary;

$shadow-right-shade-s: 10px 10px 0 0 $secondary-shade;
$shadow-right-shade-m: 15px 15px 0 0 $secondary-shade;
$shadow-right-shade-l: 20px 20px 0 0 $secondary-shade;

$shadow-left-accent-s: -10px 10px 0 0 $accent;
$shadow-left-accent-m: -15px 15px 0 0 $accent;
$shadow-left-accent-l: -20px 20px 0 0 $accent;

$shadow-left-accent-shade-s: -10px 10px 0 0 $accent-shade;
$shadow-left-accent-shade-m: -15px 15px 0 0 $accent-shade;
$shadow-left-accent-shade-l: -20px 20px 0 0 $accent-shade;

$shadow-right-accent-s: 10px 10px 0 0 $accent;
$shadow-right-accent-m: 15px 15px 0 0 $accent;
$shadow-right-accent-l: 20px 20px 0 0 $accent;

$shadow-right-accent-shade-s: 10px 10px 0 0 $accent-shade;
$shadow-right-accent-shade-m: 15px 15px 0 0 $accent-shade;
$shadow-right-accent-shade-l: 20px 20px 0 0 $accent-shade;

$blur-s: 5px;
$blur-m: 10px;
$blur-l: 20px;
$blur-xl: 30px;

// MISC
$bg-img: url(attr(banner_img));